page-login {
  
  .logo {
    width: 50%;
    height: auto;
    margin: 0 25%;
    padding-top: 50px;
  }

  ion-footer {
    height: 47px;
  }
  .footer {
    text-align: center;
    background: rgba(255, 255, 255, .06);
    min-height: 47px;
  }
  .footer-md::before {
    border-top: 1px solid black;
    background-image: none;
  }
}
